/* Color Palette */


$c_wht: #ffffff; //     pure white
$c_blk: #111111; //     black-ish
$c_grayMed: #7f7f7f; // accent-grey

$c1: #e1d8b9; //        sand
$c2: #cb7d20; //        orange
$c3: #eda926; //        accent orange
$c4: #17908B; //        main blue/green

$c_darkSand: #d4b06a;// dark sand
$c_grayDark: #666666; // dark-grey

$c_deepRed:   #900;
$c_deepGreen: #090;
$c_deepBlue:  #009;

$c_lightGreen: #c3e5c3;
$c_lightGray:  #dddddd;

$c_tabBg: #ffcc67;
$c_tabBgSelected:  #f2a101;


/* Colors, for export */
.c_wht { color: $c_wht; }
.c_blk { color: $c_blk; }
.c_grayMed { color: $c_grayMed; }
.c_grayDark { color: $c_grayDark;} 
.c1 { color:$c1; }
.c2 { color:$c2; }
.c3 { color:$c3; }
.c4 { color:$c4; }


/* Early browser support */
header, section, article, aside, nav, footer {
  display: block;
}

strong, b {
  font-weight: 600;
}

.clear {
    clear: both;
    height: 1px;
    padding: 0;
    margin: 0;
}


/* Clear-less */
.group:before, 
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* IE 6 and 7 */
}

/* Revert odd reset.css setting */
ul {
  margin-left: 0;
}



html {
  font-size: 3em; // 30px/10px; target / context = result
  font-weight: normal;
}

body {
  color: $c_blk;
  font-family: 'Helvetica', serif;
  font-size: 62.5%;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  position: relative; 
  padding-top: 50px;
  background-color: $c_wht; 
  background-image: url("../images/headerDev3.png");
  background-position: center top, 80% bottom;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

a:link, a:hover, a:visited {
  color: $c4;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul.instructions {
  list-style-type: none;
  font-size: 0.7em;
  li {
    color: $c4;
  }
}

.italicText {
  font-size: 1.0em;
  font-weight: normal;
  font-style: italic;
  font-family: 'Arial', serif;
  color: $c_grayMed;
}

h1 {
  font-size: 1.9em;
  font-weight: bold;
  font-family: 'Federo', serif;
  text-shadow: 1px 1px 1px #999;
} /* 48px/30px; target / context = result */

h2 {
  font-size: 1.3em;
  color: $c_deepGreen;
  font-family: 'Federo', serif;
} /* 10px/10px; target / context = result */

h3 {
  font-size: 0.9em;
  color: #009;
  font-family: 'Federo', serif;
} /* 10px/10px; target / context = result */

h4 {
  font-size: 1.2em;
  color: $c3;
  font-family: 'Federo', serif;
  padding-bottom: 10px;
} /* 10px/10px; target / context = result */

h5 {
  font-size: 0.7em;
  color: $c_deepRed;
  font-family: 'Arial', serif;
  text-decoration: none;
} /* smallest */

h6, .footerCol1 p, .footerCol2 p {
  font-size: 0.9em;
  color: $c_grayMed;
  font-family: 'Federo', serif;
  text-decoration: none;
  padding-bottom: 15px;
} /* smallest */

.emailText {
  font-size: 0.7em;
  color: $c_blk;
  font-family: 'Arial', serif;
  text-decoration: none;
}

.hrLine {
  width:60%;
  margin:auto auto;
  padding-bottom:30px;
}

.figure-caption {
  font-size: 0.7em; 
  font-weight: bold; 
  color: $c_grayMed;
  text-align: center;
}

.siteWrapper {
  width: 100%; 
}

.mainHeader { 
  padding: 0;
  width: 100%;
  height: 100px;

  & hgroup { padding: 0;}
}

.tagline{
  font-size: 0.81em;
  color: $c_deepRed;
  font-family: 'Federo', serif;
  text-shadow: 1px 1px 1px $c_grayDark;
}


section {font-size: 0.90em; margin-bottom: 15px;} /* 27px/30px = em */
article {font-size: 0.90em; margin-bottom: 15px;} /* 27px/30px = em */

.contentFull {width: 98%; margin: 0 1% 0 1%; float: left;}   // 2 margins
.contentCol1 {width: 48%; margin: 0 1% 0 1%; float: left;}   // 2 margins, ea. column
.contentCol2 {width: 48%; margin: 0 1% 0 1%; float: right;}  // 2 margins, ea. column

footer {
  margin: 50px 0 50px 0;
}

.rightHeader {
  font-size: 0.6em;
  position: relative;
  right: 10px;
}

/* Presentation Elements */
.profPresentationItem { 
  margin: 15px 0 0 15px;
  width: -15px;
  overflow:auto;

  p { color: $c_deepGreen; font-family: 'Federo', serif; font-size: 1.2em; padding:0; }
  div { color: $c_blk; font-family: 'Arial', serif; font-size: 0.7em;}
  img { width: 200px; border: solid 2px #000; margin:0 5px 0 0;}

}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.flex-item {
  background: $c_lightGray;
  padding: 5px;
  width: 200px;
  height: 250px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  p { color: $c_deepGreen; font-size:1.1em; }
}


/* Presentation Elements */
.presentationItem { 
  margin-top: 20px;
  width: 95%;
  padding: 15px;
}

.leftPres {
  float: left; 
  width: 40%; 
}

.rightImg {
  float: right; 
  width: 50%;
}

.rightPres {
  float: right; 
  width: 40%;
}

.leftImg {
  float: left; 
  width: 50%;
}

.projSuffixText {
  font-size: 0.7em;
}

.desc ul li {
  margin-left: 22px;
  font-size: 0.9em;
}


.portfolioLink {
  line-height: 45px;
  display: flex;

  a:link, a:hover, a:visited {
    border: solid 1px $c4;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 auto;
    align-self: center;
  }
}

/* Application Content */
.img-responsive {
  width: 100%;
}



.newspaper {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
  -moz-column-gap: 20px; /* Firefox */
  column-gap: 20px;
  -ms-column-count: 2;  // CSSLint warning fix
  -ms-column-gap: 20px; // CSSLint warning fix
}

/*----- Tabs -----*/
.tabs {
  width: 100%;
  display: inline-block;
  font-size: 0.7em;
  padding-top: 20px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display: block;
  clear: both;
  content: '';
}

.tab-links {
  border-bottom: 1px solid #eee;
}

ul.tab-links {
  margin-left: 14px;
}

.tab-links li {
  margin:0 5px;
  float: left;
  list-style: none;
}

.tab-links a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: 12px 12px 0 0;
  background: $c_tabBg;
  font-size: 16px;
  font-weight: 600;
  color: $c_grayDark;
  text-decoration: none;
  transition: all linear 0.4s;
}

.tab-links a:hover {
  background: $c_lightGreen;
  text-decoration: none;
}

li.active a, li.active a:hover {
  background: $c_tabBgSelected;
  color: $c_grayDark;
}

/*----- Content of Tabs -----*/
.tab {
  display: none;
}

.active {
  display: block;
}



@media screen and (max-width: 900px) { 
  body {
    padding-top: 80px;
    width: 100%;
  }

  .leftPres, .rightPres {
    padding: 10px 0 0 0;
    width: 100%; 
  }
  .rightImg, .leftImg {
    padding: 20px 0 20px 0;
    width: 100%;
  }
  .postFooterContent {
    top: 40px;
  }
}

@media screen and (max-width: 700px) {
  .newspaper {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -ms-column-count: 1; /* IE */
  }
  .tabs {
    height: 3000px;
  }
}


@media screen and (max-width: 320px) { 
  body {
    padding-top: 30px;
    width: 320px;
  }
  .leftPres, .rightPres {
    padding: 10px 10px 0 0;
    width: 90%; 
  }
  .rightImg, .leftImg {
    padding: 20px 10px 20px 0; 
    width: 90%;
  }
  .tabs {
    height: 5000px;
  }
}

